*{ margin: 0;padding: 0;list-style: none;text-decoration: none;}
body{ background: #efefef;}
.text hr{ margin: 20px 0;}
hr{ height:0;border: none;border-top:1px solid #DEDEDE;}
h1,h2,h3,dl,dd,dt{ font-weight: 300;}
.clearfix::after{content: '';display: block;clear:both;}
@font-face{ font-family:Siyuan-EL; src:url('./SourceHanSansCN-ExtraLight.otf');
            font-family:Siyuan-L; src:url('./SourceHanSansCN-Light.otf'); 
            font-family:Siyuan-R; src:url('./SourceHanSansCN-Regular.otf');
            font-family:Siyuan-M; src:url('./SourceHanSansCN-Medium.otf');
            font-family:Siyuan-B; src:url('./SourceHanSansCN-Bold.otf');
            font-family:Futura; src:url('./Futura.ttc');
}
.media .icon { width: 30px;height: 30px;vertical-align: -0.15em;overflow: hidden;}
.call #phone { width: 25px;height: 25px;vertical-align: -0.15em;position: absolute;top: 6px;left:-2px;}

[data-x].active{
    outline: 10px solid red;
}

.topNavBar{
    padding: 10px 0 10px 0;
    position: fixed;
    transition:all 0.7s; 
    top: 0;
    left: 0;
    width: 100%;
    color:#B7B7B7;
}
.topNavBar .logo{
    float:left;
    width: 100px;height: 30px;
    margin-left:17px;font-family: 'Futura';
    font-weight: 800;font-size: 22px;line-height: 30px;
    padding-top:5px;
    padding-bottom:5px; }
.topNavBar .logo .rs{ color: #f8b500;padding-right: 4px;}
.topNavBar .logo .card{ color:#9A9DA2;}
.topNavBar nav{
    padding-top:4px;
    padding-bottom:2px; 
}
.topNavBar nav>ul>li{
    float: left;
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav>ul>li>a{
    font-size: 13px;
    color: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
    /* position: relative; */
}
.topNavBar.sticky{
    background-color: white;
    box-shadow: 0px 7px 18px 3px rgba(71,71,71,0.3);
    z-index: 1;
    border: 10px 0;
    color:rgb(68, 68, 68); 
}
.topNavBar nav ul > li.active > a::after,
.topNavBar nav ul > li.highlight > a::after{ 
    content: '';
    display: block;
    position: absolute;
    top:100%;left: 0;width: 100%;
    border-radius:1.5px; 
    background: #f8b500;
    height: 3px;
    animation:menuSlid .5s;
}
@keyframes menuSlid{0%{width: 0;}100%{width: 100%;}}

.topNavBar .submenu{
    display: none;
    position: absolute;
    right:0;
    top:110%;
    background-color: white;
    color:rgb(119, 119, 119);
    font-size:13px;
    box-shadow: 0px 7px 18px 3px rgba(130,130,130,0.3);
    padding: 5px;
}
.topNavBar li.active >.submenu{
    display: block;
    animation: menuSlide 0.5s;
}
@keyframes menuSlide{
    from{
        margin-right: 30%;
    }
    to{
        margin-right: 0%;
    }
}
.topNavBar .submenu>li{
    white-space: nowrap;
    padding: 8px 25px;
}


.banner{
    background-image: url(./img/rs-cove.jpg);
    height: 515px;
    /* border: 1px solid red;  */
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}
.userCard{
    /* border: 1px solid red; */
    max-width:940px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: -400px;
    box-shadow: 0px 1px 5px 0px rgba(153,153,153,0.52);
}

.userCard > .add > .picture {
    float:left;
    width:299px;
    height:330px;
    border-radius:2px;
    overflow: hidden; 
}
.userCard  .profile{
    float:left;
    margin-left: 65px;
    width: 460px;
}
.userCard .add{
    padding: 50px;
}
.userCard .welcome{
    background:#f8b500;
    color:white;
    display: inline-block;
    padding: 4px 17px;
    line-height: 22px;
    position: relative;
    margin-bottom: 30px;
}
.userCard .welcome .triangle{
    display: block;
    border: 11px solid transparent;
    width: 0;
    border-left-color:#f8b500;
    border-top-width: 0px;
    position: absolute;
    top:100%;
    left:6px;
}
.userCard dl dt, dd{
    float:left;
    margin: 5px 0;
}
.userCard dl dt{
    width: 20%;
    font-weight:bold;
}
.userCard dl dd{
    width: 80%;
    color:rgb(110,110,110);
}

.userCard > footer.media{
    background-color: #f8b500;
    text-align: center;

} 
.userCard > footer.media > a{
    /* border: 1px solid black; */
    display:inline-block;
    width: 50px;
    line-height: 30px;
    padding: 10px 0;
    border-radius: 50%;

    margin:16px;
}
.userCard > footer.media > a:hover{
    background-color: #f8b500;
    
}

.userCard > footer a svg{
    width: 30px;
    height: 30px;
    fill:white;
   
    vertical-align: top;
}

.button{
    border: 1px solid #e4dbdb;
    display: inline-block;
    color:#f8b500;
    font-size:14px;
    padding: 18px 85px;
    margin: 32px 0;  
    background-color: white;
    border-radius: 2px;
    transition: box-shadow 0.2s;
}
.button:hover{
    box-shadow: 0px 1px 5px 0px rgba(153,153,153,0.9);
}
.content-me{
    max-width:940px;
    margin-left: auto;
    margin-right: auto;
    color:rgb(102, 102, 102);
    font-family: Verdana;
    text-align: center;
}
section.skills{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
section.skills > p{
    text-align: center;
    color:#3d4451;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 30px;
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    
}
section.skills > ol{
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(153,153,153,0.9);
    padding: 42px 50px 0;
}
section.skills .progressBar{
    height:5px;
    background-color: #fae1e1;
    /* border:1px solid #f8b500; */
    border-radius: 2px;
    margin: 4px 0 40px;
}
section.skills .progressBar .progress{
    background: #f8b500;
    height: 100%;
    width: 40%;
    border-radius: 2px;
   
}
section.skills > ol > li{
    float: left;
    width: 48%;
    box-sizing: border-box;
}
section.skills > ol > li:nth-child(even){
    float: right;
}
section.portfolio > h2{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    color:#3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.portfolio li{
   
    font-size: 18px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    /* border:1px solid red; */
}
section.portfolio ol{
    position:absolute;
    /* border:1px solid green; */
    left:50%;
    margin-left:-120px;
}
section.portfolio nav{
    position: relative;
}
section.portfolio .bar{
    width: 240px;
    height: 4px;
    background-color: white;
    /* border:1px solid green; */
    margin: 60px auto;
    border-radius: 2px;
}
section.portfolio .bar .bar-inner{
    height: 100%;
    background: #f8b500;
    border-radius: 2px;
    transition: all 0.3s;
}
section.portfolio .bar.state-1 .bar-inner{
    width: 23%;
    margin-left: 0px;
}
section.portfolio .bar.state-2 .bar-inner{
    width: 23%;
    margin-left: 60px;
}
section.portfolio .bar.state-3 .bar-inner{
    width: 55%;
    margin-left: 105px;
}
section .job{
    position: relative;
    /* border: 1px solid red; */
    max-width: 940px;
    margin: 0 auto;
}

section .job > .big,
section .job > .small{
    position: absolute;
    box-shadow: 0px 1px 5px 0px rgba(153,153,153,0.9);
    text-align: center;
}
